#administration th
{
    text-align : left;   
}

#administration th, #administration td
{
    padding : 5px;
}

#administration tr
{
    border : 1px solid white;
}

#administration #membres .membre
{
    width : 650px;
}

#administration #membres .checkbox
{
    width : 100px;
}

#administration #membres
{
    border : 1px solid white;
    border-spacing: 0px;
    border-collapse: collapse; 
    /*margin-left : 150px;*/
}

#administration #membres img
{
    height : 30px;
    width : 30px;
    float : left;
    margin-right : 20px;
}


#administration #boutons ul li
{
    display: inline-block;
    padding: 15px;
    margin-left: 15px;
    border: 1px solid White;
    background-color: Red;
    width: 300px;
    text-align: center;
    list-style:nonè;
}
#menuFilFiches ul li:hover
{
    background-color: Black;
    text-decoration: none;
}
.lnkbtnAdmin
{
    color:White;
    text-decoration:none;
    font-size:large;
}

#administration #ContenuAdmin .membreAdmin
{
    padding:20px;
    border : white 1px solid;
    margin:20px;   
}

.CheckBAdmin
{
	float:right
}
#administration #ContenuAdmin .membreAdmin img
{
    height : 64px;
    width : 64px;
    margin-right : 20px;
    float : left;
}
