.membre
{
    border : 1px white solid;
    margin : 20px;
    padding : 20px;    
}

.membre img
{
    height : 100px;
    width : 100px;
    margin-right : 20px;
}

#nouveautes
{
    border : 1px white solid;
    margin : 20px;
    padding : 20px;   
}

