#fiche #info
{
    text-align : center;
}

#fiche #info table
{
    margin : auto;
}

#fiche #info img
{
    height : 380px;
    width : 270px;
}

#fiche #commentaires .commentaire
{
    padding:20px;
    border : white 1px solid;
    margin:20px;   
}