#membre #membre_contenu #membreGererCollections
{
    border : 1px solid white;
}

#membre #membre_contenu #membreGererCollections table
{
    border-top : 1px solid white;
    width : 100%;
}