#page_membre_onglets
{
    float : left;
    width : 150px;
}

#page_membre_onglets .onglet
{
    text-decoration : none;
    display : block;
    border : 1px solid white;
    padding : 20px;
}

#page_membre_contenu
{
    border : 1px solid white;
    margin-left : 150px;
    padding : 20px;
}

#page_membre_entete img
{
    width : 100px;
    height : 100px;
    float : left;
    display : block;
}

#page_membre_btnMessage
{
   float : right;
}

#page_membre_nom
{
    font-size : 250%;
    text-align : center;
    margin-right : 200px;
    margin-left : 200px;
}

#page_membre_description
{
    clear : both;
}

.clear
{
    clear : both;
}

.item_sport
{
   border : 1px solid white;
   float : right;
   padding : 20px;
   padding-left : 40px;
   padding-right : 40px;
}

#liste_cartes
{
    clear : right;
}

#liste_cartes .carte
{
   border : 1px solid white;
   padding : 20px;
   clear : right;
   height : 140px;
}

#liste_cartes .carte img
{
    height : 140px;
    width : 100px;
    float : right;
}
#FormulaireAjoutCarte td
{
    padding : 10px;
}
#tMessage td
{
    padding : 10px;
}