#membre #membre_onglets
{
    float : left;
    width : 150px;
}

#membre #membre_onglets .onglet
{
    text-decoration : none;
    display : block;
    border : 1px solid white;
    padding : 20px;
}

#membre #membre_contenu
{
    margin-left : 170px;
}